.absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container {
    position: relative;
    max-width: 800px;
    max-height: 600px;
}
.dragdrop-info {
    height: 48px;
    text-align: center;
}
.dragdrop-info h2 {
    margin: 0;
}
.filters {
    height: 48px;
}
.filters button {
    height: 100%;
    width: 100%;
    max-width: 120px;
}

canvas {
    width: 100%;
    height: calc(100% - 48px);
}